$scale-handle-size: 15px;
$scale-size: 20px;
$scale-padding: $scale-size - $scale-handle-size;

phred-gizmo {
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
	border: 2px solid white;
	box-sizing: border-box;

	.scale {
		position: absolute;
		display: block;
		box-sizing: border-box;
		width: $scale-size;
		height: $scale-size;
		margin: -($scale-size + $scale-handle-size * 0.5)/2;
		background-color: transparent;
		pointer-events: all;

		.handle {
			box-sizing: border-box;
			width: $scale-handle-size;
			height: $scale-handle-size;
			background-color: chocolate;
			border: 1px solid white;
		}

		&.top-left {
			padding: $scale-padding 0 0 $scale-padding;
			top: 0;
			left: 0;
			cursor: nwse-resize;
		}

		&.top-right {
			padding: $scale-padding $scale-padding 0 0;
			top: 0;
			right: 0;
			cursor: nesw-resize;
		}

		&.bottom-left {
			padding: 0 0 $scale-padding $scale-padding;
			bottom: 0;
			left: 0;
			cursor: nesw-resize;
		}

		&.bottom-right {
			padding: 0 $scale-padding $scale-padding 0;
			bottom: 0;
			right: 0;
			cursor: nwse-resize;
		}
	}
}
