html,
body {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #1b1b1b;
	overflow: hidden;
}

.phred-widget {
	background-color: #232323;
	box-sizing: border-box;
}

phred-stage {
	flex: 1;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	width: 100%;
	height: 100%;
}

phred-stage .phred-content {
	flex: 1;
	display: inline-flex;
	flex-direction: column;
}

phred-stage .phred-content .phred-game-container {
	background-color: #1b1b1b;
	flex: 1;
	overflow: overlay;
}

phred-stage .phred-content .phred-game,
phred-stage .phred-content .phred-game * {
	max-width: 100% !important;
}

phred-actions-toolbar {
	height: 42px;
	min-height: 42px;
	box-shadow: 0px 4px 4px rgba(20, 20, 20, 0.5);
	z-index: 1;
}

phred-properties-toolbar {
	width: 250px;
	box-shadow: -4px 0px 4px rgba(20, 20, 20, 0.5);
	z-index: 2;
}

@media (min-width: 1600px) {
	phred-properties-toolbar {
		width: 400px;
	}
}