html,
body {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

.phred-stage {
	flex: 1;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	background-color: #ccc;
	width: 100%;
	height: 100%;
}

.phred-stage .phred-content {
	background-color: #222;
	flex: 1;
	display: inline-flex;
	flex-direction: column;
}

.phred-stage .phred-content .phred-game,
.phred-stage .phred-content .phred-game * {
	max-width: 100% !important;
}

.phred-actions-toolbar {
	background-color: #2c2c2c;
	height: 40px;
}

.phred-properties-toolbar {
	background-color: #888;
	width: 250px;
}
