$handle-size: 15px;
$size: 20px;
$padding: $size - $handle-size;

phred-scale-gizmo {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: $size;
	height: $size;
	margin: -($size + $handle-size * 0.5)/2;
	background-color: transparent;
	pointer-events: all;

	.handle {
		box-sizing: border-box;
		width: $handle-size;
		height: $handle-size;
		background-color: chocolate;
		border: 1px solid white;
		pointer-events: none;
	}

	&.top-left {
		padding: $padding 0 0 $padding;
		top: 0;
		left: 0;
		cursor: nwse-resize;
	}

	&.top-right {
		padding: $padding $padding 0 0;
		top: 0;
		right: 0;
		cursor: nesw-resize;
	}

	&.bottom-left {
		padding: 0 0 $padding $padding;
		bottom: 0;
		left: 0;
		cursor: nesw-resize;
	}

	&.bottom-right {
		padding: 0 $padding $padding 0;
		bottom: 0;
		right: 0;
		cursor: nwse-resize;
	}
}
