@import 'editor-vars';

phred-selection-gizmo {
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
	border: 2px solid white;
	box-sizing: border-box;
	background-color: transparent;
	box-shadow: inset $gizmo-shadow, $gizmo-shadow;

	.pivot {
		width: 8px;
		height: 8px;
		box-sizing: content-box;
		border-radius: 50%;
		position: absolute;
		padding: 0;
		transform-origin: 10px;
		margin-left: -10px;
		margin-top: -10px;
		border: 4px solid $selection-color;
		box-shadow: $gizmo-shadow;
		pointer-events: none;
	}

	.anchor {
		width: 6px;
		height: 6px;
		position: absolute;
		border: 3px solid rgba(255, 255, 0, 0.5);
		transform: rotateZ(45deg);
		box-shadow: $gizmo-shadow;
	}
}
