@import 'editor-vars';

phred-selection-gizmo {
	position: absolute;
	display: none;
	padding: 0;
	margin: 0;
	border: 2px solid white;
	box-sizing: border-box;
	background-color: transparent;
	box-shadow: inset $gizmo-shadow, $gizmo-shadow;

	& > div {
		box-sizing: content-box;
		position: absolute;
		padding: 0;
		box-shadow: $gizmo-shadow;
		pointer-events: none;
	}

	.pivot {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin-left: -10px;
		margin-top: -10px;
		border: 4px solid rgba($selection-color, 0.6);
	}

	.anchor {
		width: 8px;
		height: 8px;
		margin-left: -6px;
		margin-top: -6px;
		background-color: rgba(#8EBF24, 0.9);
		transform-origin: 4px 4px;
		transform: rotateZ(45deg);
	}
}
