@import "colors";

phed-properties-panel {
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	.title {
		font-weight: bold;
		font-size: 14px;
		color: rgba($on-background-color, 0.5);
		background-color: rgba(black, 0.2);
		padding: 6px 8px;
	}

	.content {
		padding: 12px 18px;
		box-shadow: 0 2px 2px $shadow-color;
	}
}
