@import 'colors';

phed-tree-item {
	display: block;

	.item-head {
		display: flex;
		padding: 6px 0;

		.item-icon {
			display: inline-block;
			margin: 0 6px 0 0;
		}

		.item-name {
			display: inline-block;
			white-space: nowrap;
		}
	}

	.item-children {
		margin-left: 20px;
	}
}
