@import 'colors';

.property-editor {
	display: flex;
	flex-direction: row;
	padding: 0 2px;

	&.has-children {
		padding: 8px 0;

		& > .property-content {
			padding-right: 0;
		}
	}

	.property-title {
		min-width: 25%;
		padding: 0 2px;
		overflow: hidden;

		label {
			font-size: 14px;
			color: $unfocused-text-color;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			width: 100%;
			padding: 2px 6px;
		}
	}

	.property-content {
		flex: 1;
		color: $input-foreground;
		padding: 1px 4px 1px 0;
		display: flex;
	}
}
