@import 'colors';

phred-game-container {
	background-color: #1b1b1b;
	flex: 1;
	overflow: auto;
	position: relative;

	&.responsive {
		display: flex;
		align-items: center;
		justify-content: center;

		#phred-game-parent {
			box-shadow: 9px 9px 8px 18px $shadow-color;
			phred-game-resize-handle {
				display: flex;
			}
		}
	}

	#phred-game-parent {
		position: absolute;
		.phred-game,
		.phred-game * {
			max-width: 100% !important;
			width: 100% !important;
			height: 100% !important;
		}
		phred-game-resize-handle {
			display: none;
		}
	}
}
