phred-game-container {
	background-color: #1b1b1b;
	flex: 1;
	overflow: auto;
	position: relative;

	#phred-game-parent {
		position: absolute;

		&.responsive {
			width: 100% !important;
			height: 100% !important;
		}

		.phred-game,
		.phred-game * {
			max-width: 100% !important;
			width: 100% !important;
			height: 100% !important;
		}
	}
}
