@import 'colors';

.phred-inspector {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;

	.title {
		font-size: 12px;
		font-weight: bold;
		color: $unfocused-text-color;
		background-color: rgba(black, 0.2);
		padding: 6px 8px;
		text-transform: uppercase;
	}

	.content {
		flex: 1;
		box-shadow: 0 2px 2px $shadow-color;
		color: $unfocused-text-color;
	}
}
