@import 'colors';

@mixin inspector-title {
	font-size: 12px;
	font-weight: bold;
	color: $unfocused-text-color;
	background-color: rgba(black, 0.2);
	padding: 6px 4px 6px 8px;
	margin: 0 0 12px 0;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.phred-inspector {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	overflow: hidden;

	h1 {
		@include inspector-title;
	}

	h2 {
		@include inspector-title;
		background-color: transparent;
		border-bottom: 1px solid #444;
		margin-top: 12px;
	}

	.content {
		flex: 1;
		color: $unfocused-text-color;
		padding: 0;
		overflow: auto;
	}
}
