@import 'colors';

phed-tree-node {
	display: block;
	cursor: pointer;
	flex: 1;

	&.selected {
		& > .node-head {
			background-color: $primary-color;
			color: $on-primary;
		}
	}

	&.object-invisible {
		.node-name {
			opacity: 0.5;
		}
	}

	&.collapsed {
		.node-children {
			display: none;
		}
	}

	.node-head {
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: stretch;
		padding: 0;

		.fas {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.collapse-icon {
			width: 26px;
			height: 26px;
			margin-right: 2px;
		}

		.node-icon {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 6px 0 0;
		}

		.node-name {
			display: inline-block;
			white-space: nowrap;
		}
	}

	.node-children {
		margin-left: 16px;
		margin-bottom: 4px;
	}
}
