@import 'colors';

phed-tree-node {
	display: block;
	cursor: pointer;

	&.selected {
		& > .node-head {
			background-color: $primary-color;
			color: $on-primary;
		}
	}

	.node-head {
		display: flex;
		align-items: center;
		justify-content: stretch;
		padding: 6px 4px;

		.node-icon {
			display: inline-block;
			margin: 0 6px 0 0;
		}

		.node-name {
			display: inline-block;
			white-space: nowrap;
			flex: 1;
		}
	}

	.node-children {
		margin-left: 20px;
	}
}
