phred-object-tree-inspector.phred-inspector {
	overflow: hidden;

	.header {
		justify-content: space-between;
	}

	&.filtering {
		.content .node-children {
			margin-left: 0;
		}
		.collapse-icon {
			display: none;
		}
	}
}
