@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

* {
	font-family: 'Nunito', sans-serif;
}

html,
body {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #1b1b1b;
	overflow: hidden;
}
