@import "colors";

$property-input-background: rgba(white, 0.05);
$property-foreground: $on-background-color;

.property-editor {
	display: flex;
	flex-direction: row;
	padding: 2px 0;

	.property-title {
		width: 25%;
		padding: 4px 2px 2px 0;
		font-size: 14px;
		color: rgba($on-background-color, 0.6);
	}

	.property-content {
		flex: 1;
		color: $property-foreground;
		padding: 2px 0;

		input {
			font-size: 16px;
			color: $property-foreground;
			padding: 2px 4px;
			transition: all 0.1s;
		}
		
		input[type="text"],
		input[type="number"] {
			width: 100%;
			background-color: $property-input-background;
			border: 1px solid transparent;
			outline: none !important;

			&:focus {
				border-color: rgba($on-background-color, 0.5);
			}
		}
	}
}
