@import 'colors';

phred-help-screen.popup-container {
	phred-popup {
		width: 500px;
		background-color: rgba(#0e0e0e, 0.9);

		.content .category-group {
			margin: 4px 0;

			h2 {
				text-transform: uppercase;
				font-size: 16px;
				margin: 5px 0 5px 0;
			}

			.action {
				margin: 1px 0;
				padding: 3px 10px;
				display: flex;
				align-items: center;
				background-color: rgba(#1f1f1f, 0.9);
				font-size: 14px;

				& > * {
					margin: 0 2px;
					display: inline-block;
				}

				.icon {
					width: 30px;
				}

				.shortcut {
					width: 90px;
					display: flex;
					flex-direction: column;
				}

				.description {
					flex: 1;
				}
			}
		}
	}
}
